.download_img img {
    width: 100%;
}

.download_item label {
    text-align: center;
    display: block;
    color: black;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.download_item>a {
    display: block;
}

#main-header .navbar .nav__text {
    height: 7.3rem;
}
.site_counter {
    background-color: black;
    display: inline-flex;
    padding: 5px;
    color: white;
    letter-spacing: 12px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    padding-left: 15px;
}
.title_holder h4 a {
    color: white;
}
.cs_modal_cs {
    display: flex;
    justify-content: center;
}

.cs_modal_cs a {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.custom__modal .modal-content .modal-body .btn-close {
    background-size: 14px;
    background-repeat: no-repeat;
    right: -23px;
    top: -19px;
}
#main__index-section .news-and-events__section .right-notice .card ul li a h6{
    color: white;
}
#main__index-section .news-and-events__section .right-notice .card ul li a
{
    margin-bottom: 30px;
    display: block;
}
#main__index-section .news-and-events__section .right-notice .card ul li a p
{
    line-height: 17px;
}
