.create_link {
    margin-left: 25px;
    text-transform: capitalize;
}
.display_images {
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    width: 131px;
    height: 125px;
    position: relative;
    overflow: hidden;
}
.display_images img{
    position: relative;
}
.display_images:before {
    content: 'Placeholder';
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #a7a6a5;
}
.table_images {
    width: 100px;
    height: 50px;
}
.thumbnail-image_container {
    width: 250px;
    height: 191px;
    border: 1px solid #c1c0c0;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.thumbnail-image_container:before {
    content: 'Picture placeholder';
    position: absolute;
    height: 21px;
    overflow: hidden;
    left: 43px;
    top: 78px;
    color: gray;
    text-transform: uppercase;
}
.thumbnail-image_container img {
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: contain;
}

  .upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: #4045ba;
    border-color: #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
  }
  .upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all 0.3s ease;
  }
  .upload__btn-box {
    margin-bottom: 10px;
  }
  .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
  }
  .upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
  }
  .upload__img-close:after {
    content: "✖";
    font-size: 14px;
    color: white;
  }

  .img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
  }
  label.upload__btn p {
    margin-bottom: 0;
}
.upload__img-box_of_gallery img {
    width: 200px;
    height: auto;
}

.upload__img-box_of_gallery {
    border: 1px solid #d1d1d1;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-right: 15px;
}
.update_gallery_image {
    display: flex;
}
.testimonial_images_holder {
    width: 150px;
    height: 150px;
    border: 1px solid #b1b1b1;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.testimonial_images_holder:before {
    content: 'Image';
    position: absolute;
    top: 61px;
    left: 58px;
}
.testimonial_images_holder img{
    position: relative;
    width: 100%;
    height: 100%;

}

.about_image_wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    border:1px solid #c1c0c0;
}

.about_image_wrapper img {
    position: relative;
    width: 100%;
}
.about_image_wrapper:before {
    content: 'Placeholder';
    position: absolute;
    top: 65px;
    left: 37px;
    color: #a5a5a5;
}
.justify_and_align{
    justify-content: space-between;
    align-items: center;
}
/* ********************************** */
.menu-box {
    border: 1px solid #f7f7f7;
    margin: 10px;
    padding: 10px;
  }
  .menu-box ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu-box .menu-list li {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #eee;
    background: #fff;
  }
  .menu-box .menu-list > li a {
    background: #fff;
    display: block;
    font-size: 14px;
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
  }
  .menu-box .menu-list > li a:hover {
    cursor: move;
  }
  .menu-box .menu-list ol {
    margin-left: 20px;
    margin-top: 5px;
  }
  .menu-box .menu-list ol li a {
    color: blue;
  }
  .menu-box li.menu-highlight {
    border: 1px dashed red !important;
    background: #f5f5f5;
  }
/* ********************************** */
.flex_box {
    display: flex;
    justify-content: space-between;
}
.action_button {
    display: flex;
}
.action_button>*{
    margin-left: 10px;
}

.table td, .table th {
    padding: 5px ;
}
.avatar{
    border-radius: 5% !important;
    -webkit-border-radius: 5% !important;
    -moz-border-radius: 5% !important;
    -ms-border-radius: 5% !important;
    -o-border-radius: 5% !important;
}
/* ********************************** */
.beyound_image {
    width: 100px;
    height: 48px;
    border: 1px solid black;
    margin-right: 10px;
}
.flex_dir{
    display: flex;
    flex-direction: column;
    height: auto;
}

.cs_modal-dialog{
  max-width: 719px;
}
.flex-collection{
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
